@import "variables.scss";

.custom-card {
  background: $secondary;
  position: relative;
  color: $light;
  max-width: 16rem;
  overflow: hidden;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  min-height: 280px;
  max-height: 300px;

  &:hover {
    transform: scale(1.01);

    .gradient {
      background: linear-gradient(rgba($primary, 0.3), #000);
    }
  }

  img {
    width: 100%;
  }

  p {
    margin: 0px;
    width: 100%;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #000);
  transition: 0.15s ease-in-out;
}

.card-group {
  position: absolute;
  bottom: 5%;
}

@media (max-width: 768px) {
  .custom-card {
    display: flex;
    position: static;
    max-width: 100%;
    min-height: 6rem;
    margin: 1rem 0;

    img {
      width: 20%;
    }
  }

  .gradient {
    display: none;
  }

  .card-group {
    position: static;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
  }
}
