@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  background: $dark;
  font-family: "Poppins", sans-serif;
}

.page {
  margin-top: 5rem;
  min-height: 100vh;
}

hr {
  border-top: 2px solid $primary;
}

@media (max-width: 767px) {
  .page {
    margin-top: 7rem;
  }
}
